
.navbar{
  width: "100%";
  justify-content: center;
}
.navbar-container{
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
  flex-direction: row;
  background-color: #D23A37;
  justify-content: space-between;
}
.navbar-title{
  color:white;
  font-size: 44px;
  justify-content: center;
  align-items: center;
}
.navbar-title p{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar-items p{
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid whitesmoke;
  color: white;
  font-weight: 500;
}
.navbar-items p:hover{
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid whitesmoke;
  cursor: pointer;
}
.navbar-items p:last-child{
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}
.body{
  background-image: url("https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/page-banner/spring-background-2020.png");
  width: 100%;
  height: 450px;
  background-color: royalblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -165px;
  margin-top: 60px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Input-container{
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 33%;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
}
.Input{
  width: 80%;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.Input div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.Input div input{
  display: flex;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border:none

}
.Input div input:focus{
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border:none;
  outline-width: 0;
}
.date{
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}
.dateSelector>input{
  width:260px;
  height: 30px;
  border:none;
  border-bottom: 1px solid;
  margin-left: 10px;
  
}
.date-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.today-tomorrow{
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 0px;
}
.today-tomorrow>button{
  background: none;
  border: 1px solid;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;

}
.Input-border{
  border-top: 0.1px solid rgb(205, 204, 204);
  width:100%;
}
.title{
  width: 80%;
}
.dateSelector{
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton{
  display:flex;
  flex-direction: row;
  background-color: #D23A37;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  position: relative;  
  margin-bottom: 20px;
  text-decoration: none;
}
.searchButton:active{
  display:flex;
  flex-direction: row;
  background-color: #bc2724;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  position: relative;  
  margin-bottom: 20px;
  text-decoration: none;
}
.searchButton>p{
  display: flex;
  justify-self: center;
  align-self: center;
  color:white;
  font-weight: 800;
}
.searchButton>div{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  background-color: #b1302e;
}
.services{
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items-container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0,0,0,0.5);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color:white;
  font-weight: 500;
  width: 30%;
  border-radius: 20px;
  text-align: center;
}
.services>p{
  color:white;
  font-size: 35px;
  font-family: sans-serif;
  margin: 0px;
}
.copyright{
  display: flex;
  margin-top: auto;
  justify-content: center;
  margin-top: 132px;
}
.copyright>p{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2px;
}
.destination{
  background-color: #5D686D;
  height: 70px;
  margin-top:60px;
  display: flex;
  padding-left:15% ;
  padding-right:15% ;
}
.destination-item{
  display: flex;
  background-color: #6D7A80;
  margin: 15px;
  justify-content: left;
  align-items: center;
  width: 180px;
  border-radius: 5px;
  color:white;
  padding: 10px;
}
.destination-item>p{
  margin-left: 10px;
}
.destination-date{
  display: flex;
  background-color: #6D7A80;
  margin: 15px;
  width: 200px;
  border-radius: 5px;
  color:white;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.destination-date>div{
  margin: 1px;
  display: flex;
  align-items: center;
}
.date{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
.destination-transfer{
  align-self: center;
}
.travel-firms{
  display: flex;
  background-color: #F2F3F4;
  width: 100%;
  height: 100%;
  flex-direction: column;

}
.firm{
  width: 70%;
  min-height: 120px;
  margin: auto;
  border :1px solid #ededed;
  border-radius: 10px;
  background-color: white;
  margin-top:20px;
  margin-bottom: 0px;
}
.firm-data{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.firm-data-title{
  display: flex;
  flex:1;
  justify-content: center;
  font-size: 26px;
  color: #bc2724;
  font-family:cursive;
  font-weight: 900;
  line-height: 27px;
}
.firm-data-destination{
  display: flex;
  flex:1;
  align-items: center;
  flex-direction: column;  
  justify-content: space-evenly;
}
.firm-data-destination>p{
  font-size: 14px;
}
.firm-data-destination>div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5D686D;
  font-size: 22px;
  font-weight: 700;
  margin-bottom:-15px ;
  margin-top: -15px;
}
.firm-data-destination>div>img{
  transform: rotate(-90deg);
  width: 25px;
  height: 25px;
  margin-right: 10px;

}

.firm-data-price{
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
}
.firm-data-price>p{
  margin:0px;
  margin-top:15px;
}
.firm-data-button{
  display: flex;
  flex: 1;
  justify-content: center;

}
.firm-data-button>button{
  border: none;
  height: 40px;
  width: 70%;
  border-radius: 10px;
  font-weight: 700;
  background-color:#D23A37;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
.firm-data-clock{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.firm-data-clock>p{
  padding-left: 5px;
  font-weight: 600;
  font-size: 22px;
  margin:0px;
}
.firm-data-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}
.firm-data-time>p{
  color:#5d686e;
}
.amenities{
  border-top: 1px solid #ededed ;
  position: relative;
  padding: 7px;
  display: flex;
  justify-content: center;
}
.amenities>div{
  display: flex;
  justify-content: space-around;
  width: 70px;
}
.amenities>button{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  font-size: 14px;
  color:#5d686e;
  font-weight:600;
}
.amenities>button:hover{
  cursor: pointer;
}
.popup{
  background-color: #F3F7F8;
  padding-bottom: 20px;
}
.bus{
  display: flex;
  width: 60%;
  flex-direction: column;
  border:1px solid black;
  padding:10px;
  border-radius: 10px;
}
.bus-row1{
  display: flex;
  flex-direction: row;
}
.bus-row2{
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.bus-2{
  display: flex;
  flex-direction: column;
}
.bus-10{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.bus-12{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.bus-14{
  display: flex;
  flex-wrap: wrap;
  width: 59%;
  margin-left: 0px;
  justify-content: flex-end;
}
.popup{
  display: flex;
  flex-direction: column;
  align-items: center;
}